.list__item {
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    flex-basis: 20%;
    border: 3px dashed #e74c3c;
    border-radius: 7px;
    display: block;
}
