.list__item {
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    flex-basis: 20%;
    border: 3px dashed #e74c3c;
    border-radius: 7px;
    display: block;
}

ul {
    list-style: none;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.section {
    /* border: 1px solid red; */
    max-width: 1200px;
    margin: 50px auto;
}

.section__header {
    background: #1abc9c;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.section__navigation {
    background-color: #bdc3c7;
    border-radius: 15px;
    padding: 10px;
    width: 300px;
}

.section__main-content {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
}

.section__main {
    background-color: #e67e22;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
}

.section__footer {
    background-color: #9b59b6;
    border-radius: 15px;
    padding: 20px;
    margin-top: 10px;
}

/* @media screen and (max-width: 720px) {
    .section__main-content {
        flex-wrap: wrap;
    }

    .section__navigation {
        flex-basis: 100%;
    }
} */
