.block-box-1 {
    display: inline;
}

.inline-box-1 {
    display: block;
}

.inline-boxes-container .box-container-inline-box-1 {
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}

.inline-boxes-container .box-container-inline-box-2 {
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
}

.layout-item {
    box-sizing: content-box;
    display: inline-block;
    width: 33%;
    padding: 5px;
    border: 5px solid red;
}

.movie-card {
    border: 1px solid rgb(55, 226, 226);
    width: 500px;
    border-radius: 7px;
    overflow: hidden;
}

.movie-card__header {
    padding: 10px;
    color: white;
    background-image: url("./images/matrix_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 7px double rgb(55, 226, 226);
}

.movie-card__body {
    padding: 10px;
}

.movie-card__footer {
    margin-top: 55px;
    padding: 10px;
    border-top: 7px double rgb(55, 226, 226);
    text-align: right;
}
