.app {
    max-width: 650px;
    margin: 50px auto;
    border: 1px solid #000000;
    border-radius: 7px;
}

.app__header {
    margin-bottom: 10px;
}

.header {
    padding: 10px 15px;
    border-bottom: 1px solid #000000;
}

.header__nav {
    display: inline-block;
}

.header__logo {
    display: inline-block;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

.link {
    text-decoration: none;
    color: #3c83ec;
}

.nav__list-item {
    display: inline-block;
    border: 1px solid #5a5a5a;
    padding: 10px 7px;
    border-radius: 7px;
}

.nav__link {
    text-decoration: none;
}

.header-box {
    background-image: url("./images/two-customized-cars-rolling-through-a-city-street.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    text-align: center;
    vertical-align: center;
    border: 1px solid transparent;
}

.header-box__header {
    color: #ffffff;
    font-size: 42px;
    display: block;
    max-width: 40%;
    text-align: left;
    margin: 100px auto;
}

.article {
    border: 1px solid #696969;
    padding: 10px;
    border-radius: 5px;
}

.box {
    border: 1px solid transparent;
}

.box__content {
    max-width: 50%;
    min-width: 400px;
    margin: 20px auto;
}

.app__footer {
    border-top: 1px solid #424242;
}

.footer {
    padding-left: 20px;
}

.footer__content {
    text-transform: uppercase;
}